.conteiner{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(100, 187, 158);
}

.header{
    height: 30px;
    width: 100%;
    margin: 0 auto;
    padding-left: 25px;
    position: fixed;
    left: 0;
    color: white;
    background-color: rgb(71, 145, 145);
    font-size: 20px;
    line-height: 30px;
    z-index: 1000;
}

.conteiner_box{
    display: flex;
}
.box_board{
    padding: 10px;
    margin-left: 15px;
    margin-top: 50px;
    height: 700px;
    width: 300px;
    background-color: rgb(223, 218, 218);
    border-radius: 5px;
    font-size: 18px;
    overflow-y: auto;
}

.text{
    word-break:break-all;
}
.task{
    margin-bottom: 15px;
    padding: 15px;
    padding-bottom: 30px;
    position: relative;
    min-height: 100px;
    max-width: 280px;
    background-color:white;
    border-radius: 10px;
}
img{
    height: 15px;
    width: 15px;
}
.person{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottom_line{
    display: flex;
    margin-left: 15px;
    margin-bottom: 5px;
    position: absolute;
    bottom:0;
    left:0;
    gap: 20px;
}


